<div>
	<span style="font-weight: bolder"> Nome: </span> {{medico.nome}}

	<br />

	<span style="font-weight: bolder"> Último Nome: </span> {{medico.ultimoNome}}

	<br />
	
	 <span style="font-weight: bolder">Email: </span> {{medico.email}}

	<br />
	
	<span style="font-weight: bolder"> Especialidade: </span>
	{{medico.especialidade}}
	
	<br />

	<span style="font-weight: bolder"> Estado: </span>
	{{medico.estado}}
	
	<br />

	<span style="font-weight: bolder"> Status: </span>
	{{medico.status}}
	
	<br />

	<span style="font-weight: bolder"> Ativo: </span>
	{{medico.ativo}}
	
	<br />

	<br />
	
	<span style="font-weight: bolder"> Cidade: {{medico.cidade}} </span>
	
	<br />
    <a class="btn btn-default" ng-href="#/medicos"> Voltar </a>
</div>